# Programming Assignment 1
## McKenzee Masters
## CS150-01 Fall 2022

In [8]:
number1=float(input("Enter a floating point number: "))

Enter a floating point number: 44.3

In [9]:
number2=int(input("Enter an integer: "))

Enter an integer: 16

In [10]:
print("The sum is", (number1+number2))

The sum is 60.3

In [11]:
print("The difference is", (number1-number2))

The difference is 28.299999999999997

In [12]:
print("The product is", (number1*number2))

The product is 708.8

In [13]:
print("The quotient is", (number1/number2))

The quotient is 2.76875

In [14]:
print("The type for this result is", type(number1))

The type for this result is <class 'float'>